

body {
    font-family: serif;
    background-image: url("../images/back-pic.jpg");
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    /* padding: 220px 0px 280px; */
    background-repeat: no-repeat;
    background-attachment: fixed;

    z-index: -1;
    opacity: 10;
}

.maindiv {
    height: 100vh;
}

.card {
    border-radius: 10px !important;
    height: 100%;
}

.fa-users {
    font-size: 3em;
    color: black !important;
}

.division {
    text-align: center;
    width: 100%;
}

form {
    padding: 0px 25px 0px 25px !important;
    margin-top: 30px;
    text-align: left;
}

.sppp span {
    margin-top: 10px !important;
}

@media only screen and (max-width: 770px) {
    .row {
        --bs-gutter-x: 0rem !important;
        --bs-gutter-y: 0 !important;
        color: blue !important;
    }
}